@model SmartHome.WebAPI.Models.HomeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Device</legend>
    <p>
        @Html.DisplayFor(item => item.Device.Name)
        (@Html.DisplayFor(item => item.Type.Name))
    </p>
    <table>
        <tr>
            <th>
                Action
            </th>
            <th>
                Datetime
            </th>
            <th>
                State
            </th>
        </tr>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectState)
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
